
*
{
	/*-fx-font-family: "Roboto", sans-serif;*/
}

@font-face {
    font-family: 'Roboto';
    src: url( 'Roboto.ttf' );
}

/** PRIMO PANNELLO DI SCELTA DEL GRAFO */
#firstDialog
{
	-fx-background-color: #FFF;
}

#firstDialog-tag
{
	/* SIZE & CONTENT */
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-alignment: center;
	-fx-label-padding: 4 16 4 16;
	
	/* FONT */
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #263238;
}

#firstDialog-choicheButtons
{
	/* SIZE & CONTENT */
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-alignment: center;
	-fx-spacing: 10;
}


.scroll-pane > .viewport
{
	-fx-hbar-policy: as-needed; 
	-fx-vbar-policy: as-needed;
	-fx-text-fill: #EEEEEE;
	/*-fx-font-size: 10;*/
	-fx-background-color: #212121;
}

#rightPanel
{
	/* FONT */
	-fx-text-fill: #EEEEEE;
	/*-fx-background-color: #212121;*/
}

#console
{
	/* FONT */
	/*-fx-font-family: "Roboto Mono", monospace;*/
	-fx-text-fill: #EEEEEE;
}

#console .label
{
	/* FONT */
	/*-fx-font-family: "Roboto Mono", monospace;*/
	-fx-text-fill: #EEEEEE;
	-fx-label-padding: 1 0 1 5;
}

#mainPanel
{
	/* STYLE */
	-fx-background-color: #FFF;
}

#MyNode
{
	/* SIZE & CONTENT */
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-alignment: center;
	
	/* STYLE */
	-fx-background-radius: 50%;
	-fx-background-color: #263238;
	-fx-border-width: 3;
	-fx-border-radius: 50%;
	-fx-border-color: #263238;

	/* FONT */
	-fx-font-size: 14;
	/*-fx-font-weight: bold;*/
	-fx-text-fill: #FFF;
}

#MyLine
{
	-fx-stroke-width: 2;
	-fx-stroke: #263238;
}
/*
#MyLine:hover
{
	-fx-stroke: #FFC107;
}
*/
#weight
{
	/* SIZE & CONTENT */
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-alignment: center;

	/* STYLE */
	-fx-background-color: #979797;
	-fx-background-radius: 50%;
	/*-fx-border-width: 1;
	-fx-border-color: #263238;
	-fx-border-radius: 50%;*/

	/* FONT */
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #FFF;
	/*-fx-text-fill: #979797;*/
}

#MyButton
{
	/* SIZE & CONTENT */
	-fx-min-height: 36;
	-fx-pref-height: 36;
	-fx-max-height: 36;
	-fx-min-width: 64;
	-fx-text-alignment: center;
	-fx-label-padding: 4 8 4 8;

	/* STYLE */
	-fx-background-color: #FFF;
	-fx-border-width: 2;
	-fx-border-color: #263238;

	/* FONT */
	-fx-font-size: 14;
	-fx-font-weight: bold;
	-fx-text-fill: #263238;
}

#MyButton:hover
{
	/* STYLE */
	-fx-border-color: rgba( 38, 50, 56, 0.50 ); /* = #263238 */

	/* FONT */
	-fx-text-fill: rgba( 38, 50, 56, 0.50 );
}

#MyButton:pressed
{
	/* STYLE */
	-fx-background-color: #263238;

	/* FONT */
	-fx-text-fill: #FFF;
}

#bottomPanel
{
	/* SIZE & CONTENT */
	-fx-alignment: center;
	-fx-hgap: 25;

	/* STYLE */
	-fx-background-color: #FFF;
}

#bottomHBox
{
	/* SIZE & CONTENT */
	-fx-spacing: 20;
	-fx-alignment: center-left;
}

/* DIJKSTRA PANEL CSS */

#row-table
{
	
	-fx-alignment: center;
	
}

#table-value
{
	/* SIZE & CONTENT */
	-fx-spacing: 20;
	-fx-label-padding: 0 4 0 4;
	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-alignment: center;
	
	
}